*{
    text-decoration: none;
}
.navbar{
    background:rgb(70, 193, 255);
    font-family: calibri;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
}
li {
    list-style: none;
    display: inline-block;
}

li a {
    margin-right: 25px;
}